<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <span>ESTUDANDO ANGULAR 17</span>
            <h1>Iniando com angular novamente</h1>
        </div>
        <img ngSrc="./assets/angularinit.png" width="600" height="536"/>
    </section>

    <section class="benefit-section">
        <div class="benefit-text">
            <h2>
                Principais<br/>
                Comandos
            </h2>
        </div>
        <p>Principais comandos para inciar um projeto angular.js</p>
    </section>
<app-buttoncmd></app-buttoncmd>
</main>